.container {
    font-size: 0;
    border: 1px solid black;
    width: 600px;
    height: 600px;
    margin: 30px auto;
    overflow: hidden;
}

#button {
    margin: 0 auto;
    width: 100px;
}

#reset {
    width: 100px;
    background-color: lightgrey;
    border-radius: 5px;
    box-shadow: 0px 0px 30px 5px lightgrey;
}

.square {
    display: inline-block;
    position: relative;
}