html {
    background-color: lightgray;
}

.palette {
    border: 1px solid black;
    position: fixed;
    top: 30px;
    left: calc(50% - 370px);
    width: 50px;
    height: 600px;
    border-radius: 5px;
    background-color: white;
}

.palette div:hover {
    box-shadow: 0 0 30px 5px deepskyblue;
}

.palette div {
    width: 50px;
    height: 50px;
    margin: 15px 0 15px 0;
    border-radius: 5px;
}

#black {
    background-color: black;
}

#red {
    background-color: red;
}

#blue {
    background-color: blue;
}

#green {
    background-color: green;
}

#yellow {
    background-color: yellow;
}

#orange {
    background-color: orange;
}

#purple {
    background-color: purple;
}

#brown {
    background-color: brown;
}

img {
    width: 50px;
    height: 50px;
}

.opacity {
    border: 1px solid black;
    position: fixed;
    top: 30px;
    right: calc(50% - 370px);
    width: 52px;
    height: 450px;
    border-radius: 5px;
    background-color: white;
}

.opacity div:hover {
    box-shadow: 0 0 30px 5px deepskyblue;
}

.opacity div {
    width: 50px;
    height: 50px;
    border: 1px solid black;
    margin: 48px 0 48px 0;
    border-radius: 5px;
}

#lighter {
    opacity: 0.2;
}

#light {
    opacity: 0.4;
}

#dark {
    opacity: 0.7;    
}

#darker {
    opacity: 1;    
}

.toolShape {
    border: 1px solid black;
    position: fixed;
    top: 510px;
    right: calc(50% - 370px);
    width: 52px;
    height: 120px;
    border-radius: 5px;
    background-color: white;
}

.toolShape div:hover {
    box-shadow: 0 0 30px 5px deepskyblue;
}

.toolShape #rectangle {
    border: 1px solid black;
    background-color: black;
    width: 30px;
    height: 30px;
    margin: 20px 10px 10px 10px;
}

.toolShape #circle {
    border: 1px solid black;
    background-color: black;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    margin: 10px 10px 20px 10px;
}

.container {
    font-size: 0;
    border: 1px solid black;
    width: 600px;
    height: 600px;
    overflow: hidden;
    position: fixed;
    top: 30px;
    left: 50%;
    transform: translate(-50%, 0);
    -moz-transform: translate(-50%, 0);
    border-radius: 5px;
    background-color: white;
}

#button {
    width: 100px;
    position: fixed;
    top: 650px;
    left: 50%;
    transform: translate(-50%, 0);
    -moz-transform: translate(-50%, 0);
}

#reset {
    width: 100px;
    background-color: lightgrey;
    border-radius: 5px;
    -moz-border-radius: 5px;
    box-shadow: 0px 0px 30px 5px white;
    font-size: 1em;
}

#reset:hover {
    box-shadow: 0 0 20px 10px white;
}

.square {
    display: inline-block;
    position: relative;
}