html {
    background-color: lightslategrey;
}

.palette {
    margin-top: -600px;
    margin-left: calc(50% - 370px);
    width: 50px;
    height: 596px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    background-color: white;
    box-shadow: 0 0 10px 1px lightgrey;
    padding-top: 4px;
}

.palette div {
    width: 35px;
    height: 35px;
    margin-top: 28px;
    margin-left: 7.5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}

.palette div:hover {
    width: 45px;
    height: 45px;
    margin-left: 2.5px;
}

#black {
    background-color: black;
}

#red {
    background-color: red;
}

#blue {
    background-color: blue;
}

#green {
    background-color: green;
}

#yellow {
    background-color: yellow;
}

#orange {
    background-color: orange;
}

#purple {
    background-color: purple;
}

#brown {
    background-color: brown;
}

img {
    width: 35px;
    height: 35px;
}

.palette img:hover {
    width: 45px;
    height: 45px;
    margin-left: -1px;
}

.opacity {
    margin-top: -599px;
    margin-left: calc(50% + 315px);
    width: 50px;
    height: 450px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    background-color: white;
    box-shadow: 0 0 10px 1px lightgrey;
    padding-top: 5px;
}

.opacity div {
    width: 35px;
    height: 35px;
    margin-top: 60px;
    margin-left: 7.5px;
    border-radius: 5px;
}

.opacity div:hover {
    width: 45px;
    height: 45px;
    margin-left: 2.5px;
}

#lighter {
    opacity: 0.2;
}

#light {
    opacity: 0.4;
}

#dark {
    opacity: 0.7;    
}

#darker {
    opacity: 1;    
}

.toolShape {
    margin-top: 18px;
    margin-left: calc(50% + 315px);
    width: 50px;
    height: 120px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    background-color: white;
    box-shadow: 0 0 10px 1px lightgrey;
    padding-top: 5px;
}

.toolShape #rectangle {
    background-color: black;
    width: 30px;
    height: 30px;
    margin-top: 20px;
    margin-left: 10px;
}

.toolShape #rectangle:hover {
    width: 40px;
    height: 40px;
    margin-top: 15px;
    margin-left: 5px;
}

.toolShape #circle {
    background-color: black;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    margin-top: 20px;
    margin-left: 10px;
}

.toolShape #circle:hover {
    width: 40px;
    height: 40px;
    margin-top: 15px;
    margin-left: 5px;
}

.container {
    font-size: 0;
    width: 600px;
    height: 600px;
    overflow: hidden;
    margin-top: 30px;
    margin-left: 50%;
    -moz-transform: translate(-50%, 0);
    -webkit-transform: translate(-50%, 0);
    transform: translate(-50%, 0);
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    background-color: white;
    box-shadow: 0 0 10px 1px lightgrey;
}

#button {
    width: 100px;
    margin-top: 30px;
    margin-left: 50%;
    margin-bottom: 30px;
    -moz-transform: translate(-50%, 0);
    -webkit-transform: translate(-50%, 0);
    transform: translate(-50%, 0);
}

#reset {
    width: 100px;
    background-color: white;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    box-shadow: 0 0 10px 1px lightgrey;
    font-size: 1em;
    padding: 5px;
    font-family: 'Open Sans', sans-serif;
}

#reset:hover {
    box-shadow: 0 0 20px 5px white;
}

.square {
    display: inline-block;
    position: relative;
}

#copyright {
    font-size: 12px;
    text-align: center;
    margin-top: 30px;
}